<div class="home">
    <!-- <h1 class="intro">{{ 'intro' | translate }}</h1> -->
    <h1 class="intro">{{'proj_name' | translate}}</h1>

<!-- <h1>Another way: <span translate>intro</span></h1> -->

<h3 class="short_desc"><span translate>project_short_desc</span></h3>

<p><a href="https://docs.google.com/document/d/11o05zI-wUVgvP0BHHL523_kO4-Y6GIfs6d_R21yy4jQ/edit" target="_blank" class="btn btn-primary">{{'view_detail_doc_btn' | translate}}</a>
</p>
<p>
    <a href="https://github.com/ANAVHEOBA" target="_blank" class="btn btn-primary">Github</a>
    <a href="https://stackoverflow.com/" target="_blank" class="btn btn-success">Stackoverflow</a>
    <a href="https://github.com/ANAVHEOBA" target="_blank" class="btn btn-primary">Linkedin</a>
</p>
</div>